<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706530174237-inag5of0l8d30akdo0nla7v9g3a5gl47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706530174237-inag5of0l8d30akdo0nla7v9g3a5gl47</string>
	<key>API_KEY</key>
	<string>AIzaSyBciMRW7PbD9pYnd1EEUPhBvTeJyv5NjRw</string>
	<key>GCM_SENDER_ID</key>
	<string>706530174237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sPay</string>
	<key>PROJECT_ID</key>
	<string>spay-a7b29</string>
	<key>STORAGE_BUCKET</key>
	<string>spay-a7b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706530174237:ios:fa2f8cca3fd8fab47b6df4</string>
</dict>
</plist>